<h1 style ="color:chartreuse">Total</h1>
<div class="row">

    <div class="col-md-3 " style="background-color: blue;">
        <h3 >Total Categories :</h3>
        <div *ngIf="TotalCategories$ | async ; then displayTotalCategories else loadingTotalCategories"></div>
        <ng-template #displayTotalCategories>
            <h4 style="text-align: center;" >{{TotalCategories$ | async}}</h4>
        </ng-template>
        <ng-template #loadingTotalCategories style="text-align: center">loading........</ng-template>
        <div >
            <a style="text-align: center" routerLink="/categories/list" >View Details<fa-icon [icon]='["fas", "angle-right"]'></fa-icon></a> 
        </div>
    </div>
    
    <div class="col-md-3" style="background-color :yellow">
        <h3 >Total Customers :</h3>
        <div *ngIf="TotalCustomers$ | async ; then displayTotalCustomers else loadingTotalCustomers"></div>
        <ng-template #displayTotalCustomers>
            <h4 style="text-align: center;" >{{TotalCustomers$ | async}}</h4>
        </ng-template>
        <ng-template #loadingTotalTotalCustomers style="text-align: center">loading........</ng-template>
        <div >
            <a style="text-align: center" routerLink="/customers" >View Details<fa-icon [icon]='["fas", "angle-right"]'></fa-icon></a> 
        </div>    
    </div>

    <div class="col-md-3" style="background-color: red">
        <h3 >Total Doctors :</h3>
        <div *ngIf="TotalDoctors$ | async ; then displayTotalDoctors else loadingTotalDoctors"></div>
        <ng-template #displayTotalDoctors>
            <h4 style="text-align: center;" >{{TotalDoctors$ | async}}</h4>
        </ng-template>
        <ng-template #loadingTotalDoctors style="text-align: center">loading........</ng-template>
        <div >
            <a style="text-align: center" routerLink="/doctors" >View Details<fa-icon [icon]='["fas", "angle-right"]'></fa-icon></a> 
        </div>
    </div>

    <div class="col-md-3" style="background-color: green;">
        <h3 >Total Services :</h3>
        <div *ngIf="TotalServices$ | async ; then displayTotalServices else loadingTotalServices"></div>
        <ng-template #displayTotalServices>
            <h4 style="text-align: center;" >{{TotalServices$ | async}}</h4>
        </ng-template>
        <ng-template #loadingTotalServices style="text-align: center">loading........</ng-template>
        <div >
            <a style="text-align: center" routerLink="/categories/list" >View Details<fa-icon [icon]='["fas", "angle-right"]'></fa-icon></a> 
        </div>    
    </div>
</div>
<br>