<sb-card>
    <div class="card-header">
        <div class="test">
            <fa-icon class="mr-1" [icon]='["fas","table"]'></fa-icon><strong>List Admin None Permissions</strong>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="nonePermissionByAdmin$ | async; then display; else loading"></div>
        <ng-template #display>
            <div class="row">
                <div class="col-md-4" *ngFor="let permission of nonePermissionByAdmin$ | async">
                    <label class="customer-checkbox">
                        <input type="checkbox" (change)="onChange(permission.id, $event)">
                        {{permission.description}}
                    </label>    
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" style="margin : 5px"  routerLink="/permission-admin/list">Cancel</button>             
                <button class="btn btn-success" style="margin : 5px" (click)="submit()">Add Permissions</button>                                
            </div>
        </ng-template>
        <ng-template #loading>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            
        </ng-template>
    </div>
</sb-card>
<!-- transform="shrink-40" -->