<sb-card>
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <fa-icon class="mr-1" [icon]='["fas","table"]'></fa-icon><strong>List Orders</strong>
            </div>
            <div class="col-md-6">
                <form (ngSubmit)="onSubmit(serviceName.value)">
                    <div class="form-group form-inline"> service : <input type="text" class="form-control" #serviceName></div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <br>
        <div *ngIf="listOrders$ | async ; then display ; else loading"></div>
        <ng-template #display>
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Doctor</th>
                    <th>Service</th>
                    <th>start time</th>
                    <th>end time</th>
                    <th>Original price</th>
                </thead>
                <tbody>
                    <tr *ngFor="let order of listOrders$ | async" routerLink="/orders/detail/{{order.id}}">
                        <td>{{order.id}}</td>
                        <td>{{order.customer.full_name}}</td>
                        <td>
                            <div *ngIf="order.doctor">{{order.doctor.full_name}}</div>
                            <div *ngIf="!order.doctor">Null</div>
                        </td>
                        <td>{{order.service.name}}</td>
                        <td>{{order.start_time}}</td>
                        <td>{{order.end_time}}</td>
                        <td>{{order.total}}</td>
                    </tr>
                </tbody>
            </table>
        
        </ng-template>
        <ng-template #loading>
            <div class="text-center">
                <div class="spinner-grow" style="width: 15rem; height: 15rem;text-align: center;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</sb-card>